services:
  db:
    image: mariadb:11.2
    container_name: event-db
    restart: always
    env_file: .env
    ports:
      - "3307:3306"
    volumes:
      - db_data:/var/lib/mysql

  backend:
    build: ./backend
    container_name: event-backend
    restart: always
    env_file: .env
    ports:
      - "3000:3000"
    environment:
      DB_HOST: db
      CHOKIDAR_USEPOLLING: "true"
    depends_on:
      - db
    volumes:
      - ./backend:/usr/src/app
      - /usr/src/app/node_modules

  frontend:
    build: ./frontend
    container_name: event-frontend
    restart: always
    env_file: .env
    ports:
      - "5173:5173"
    environment:
      CHOKIDAR_USEPOLLING: "true"
      WATCHPACK_POLLING: "true"
    depends_on:
      - backend
    volumes:
      - ./frontend:/usr/src/app
      - /usr/src/app/node_modules

volumes:
  db_data:
